[submodule "_example-sdk_2024121-EFR32ZG23_"]
	path = _example-sdk_2024121-EFR32ZG23_
	url = https://github.com/GOAP-Dev01/_example-sdk_2024121-EFR32ZG23_.git
[submodule "_example-sdk_2024123-EFR32ZG23_"]
	path = _example-sdk_2024123-EFR32ZG23_
	url = https://github.com/GOAP-Dev01/_example-sdk_2024123-EFR32ZG23_.git
[submodule "_example-sdk_2024123-ZGM230SA_"]
	path = _example-sdk_2024123-ZGM230SA_
	url = https://github.com/GOAP-Dev01/_example-sdk_2024123-ZGM230SA_.git
